In [1]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.impute import SimpleImputer

In [2]:
# Importing the dataset
dataset = pd.read_csv('cleve.csv')

In [3]:
# Gives top 5 records
dataset.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1,1,145.0,233.0,1,2,150.0,0,2.3,3,0.0,6,0
1,67.0,1,4,160.0,286.0,0,2,108.0,1,1.5,2,3.0,3,1
2,67.0,1,4,120.0,229.0,0,2,129.0,1,2.6,2,2.0,7,1
3,37.0,1,3,130.0,250.0,0,0,187.0,0,3.5,3,0.0,3,0
4,41.0,0,2,130.0,204.0,0,2,172.0,0,1.4,1,0.0,3,0

In [4]:
#Provides detailed information about dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        303 non-null    float64
 1    sex       303 non-null    int64
 2    cp        303 non-null    int64
 3    trestbps  303 non-null    float64
 4    chol      303 non-null    float64
 5    fbs       303 non-null    int64
 6    restecg   303 non-null    int64
 7    thalach   303 non-null    float64
 8    exang     303 non-null    int64
 9    oldpeak   303 non-null    float64
 10   slope     303 non-null    int64
 11   ca        303 non-null    object
 12   thal      303 non-null    object
 13   num       303 non-null    int64
dtypes: float64(5), int64(7), object(2)
memory usage: 33.3+ KB

In [5]:
# Gives number of rows and columns
dataset.shape

(303, 14)

In [6]:
#check if there any duplication
dataset.duplicated().sum()

1

In [7]:
# drop duplication
dataset.drop_duplicates(inplace=True)

In [8]:
#number of cases of heart disease in dataset
dataset[' num'].value_counts()

0    164
1    138
Name:  num, dtype: int64

In [9]:
#defining X values ang y values
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, 13].values

In [10]:
#handling missing data
imputer= SimpleImputer(missing_values=np.nan, strategy='mean')

imputer=imputer.fit(X[:,11:13])
X[:,11:13]=imputer.transform(X[:,11:13])